# Files with potential sensitive information
.env
.env.ps1

# Draw io files
**.bkp
**.dtmp

# go task caching
.task/

# macOS finder stuff
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# manually ignored files
*.ignore